<div class="max-w-md w-full space-y-8">
  <div class="text-center">

    <p class="mt-2 text-sm text-gray-500">Forget Password </p>
  </div>


  <form class="mt-8 space-y-6" (ngSubmit)="send()" *ngIf="!show; else ChangePassword">
    <!-- Email Input -->
    <div class="relative">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Please enter your email</label>
      <input [(ngModel)]="email" name="email" class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500"
        type="email" placeholder="Enter your login">
    </div>
    <div>
      <button [disabled]="submissionInProgress" type="submit" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
        {{ submissionInProgress ? 'sending ...' : 'send' }}
      </button>
    </div>

  </form>


  <ng-template #ChangePassword >

  <form class="mt-8 space-y-6" [formGroup]="ResetForm" (ngSubmit)="Change()">
      <!-- Password Input -->
    <div class="mt-8 content-center">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Verification Code</label>
      <input formControlName="verificationCode" class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
        type="text" placeholder="Enter your password">
        <ng-container *ngIf="verificationCode.errors && (verificationCode.dirty || verificationCode.touched)">
          <div class="text-red-600 text-sm mt-1" *ngIf="verificationCode.hasError('required')">First Name is required</div>
        </ng-container>
    </div>
    <div class="mt-8 content-center">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Password</label>
      <input formControlName="password" class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
        type="password" placeholder="Enter your password">
        <ng-container *ngIf="password.errors && (password.dirty || password.touched)">
          <div class="text-red-600 text-sm mt-1" *ngIf="password.hasError('required')">First Name is required</div>
          <div class="text-red-600 text-sm mt-1" *ngIf="password.hasError('minlength')">First Name should be at least 6 characters</div>
        </ng-container>
    </div>
    <div class="mt-8 content-center">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Confirm Password</label>
      <input formControlName="confirmPassword" class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
        type="password" placeholder="Enter your confirm password">
        <ng-container *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
          <div class="text-red-600 text-sm mt-1" *ngIf="confirmPassword.hasError('required')">First Name is required</div>
          <div class="text-red-600 text-sm mt-1" *ngIf="confirmPassword.hasError('Notmatch')">Password confirmation mismatch. Please verify </div>
        </ng-container>
    </div>

    <div>
      <button type="submit"
        [disabled]="ResetForm.invalid || submissionInProgress"
        class="w-full text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center
               dark:text-white dark:font-medium dark:rounded-lg dark:text-sm dark:px-5 dark:py-2.5
               focus:ring-4 focus:outline-none focus:ring-primary-300
               {{ ResetForm.invalid || submissionInProgress ? 'bg-gray-400 cursor-not-allowed' : 'bg-primary-600 hover:bg-primary-700 dark:bg-primary-600 dark:hover:bg-primary-700' }}">
               {{ submissionInProgress ? 'submiting ...' : 'submit' }}
        </button>
    </div>

  </form>
</ng-template>
</div>
