
<div class="relative min-h-screen flex ">
  <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
    <div class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-purple-900 text-white bg-no-repeat bg-cover relative"
      style="background-image: url(https://images.unsplash.com/photo-1579451861283-a2239070aaa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
      <div class="absolute bg-gradient-to-b from-indigo-600 to-blue-500 opacity-75 inset-0 z-0"></div>
      <div class="w-full  max-w-md z-10">
        <div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">MyStb</div>
        <div class="sm:text-sm xl:text-md text-gray-200 font-normal"> On vise à développer une application dédiée à une banque, permettant une notification automatique et manuelle des clients pour leurs transactions financières et les dates d'échéance. Cette application s'appuie sur des algorithmes intelligents pour déterminer le canal de notification le plus pertinent pour chaque client, garantissant ainsi une communication efficace et personnalisée.</div>
      </div>
      <!---remove custom style-->
     <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
    </div>
    <div class="md:flex md:items-center md:justify-center  sm:w-auto md:h-full w-2/5 xl:w-2/5 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
