<section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center">
  <div class="w-full max-w-screen-xl mx-auto bg-white rounded-lg shadow dark:border dark:border-gray-700 dark:bg-gray-800">

    <div class="p-6 space-y-4 md:space-y-6">


      <form [formGroup]="ChangePasswordForm" (ngSubmit)="Change()" class="space-y-4 md:space-y-6">
        <!-- First Name Field -->
        <div>
          <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
          <input type="password" formControlName="password" id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="">
          <!-- Error Message for First Name -->
          <ng-container *ngIf="password.errors && (password.dirty || password.touched)">
            <div class="text-red-600 text-sm mt-1" *ngIf="password.hasError('required')">First Name is required</div>
            <div class="text-red-600 text-sm mt-1" *ngIf="password.hasError('minlength')">First Name should be at least 6 characters</div>
          </ng-container>
        </div>

        <!-- First Name Field -->
        <div>
          <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" id="confirmPassword"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="">
          <!-- Error Message for First Name -->
          <ng-container *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <div class="text-red-600 text-sm mt-1" *ngIf="confirmPassword.hasError('required')">First Name is required</div>
            <div class="text-red-600 text-sm mt-1" *ngIf="confirmPassword.hasError('Notmatch')">Password confirmation mismatch. Please verify </div>
          </ng-container>
        </div>

        <button type="submit"
        [disabled]="ChangePasswordForm.invalid || submissionInProgress"
        class="w-full text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center
               dark:text-white dark:font-medium dark:rounded-lg dark:text-sm dark:px-5 dark:py-2.5
               focus:ring-4 focus:outline-none focus:ring-primary-300
               {{ ChangePasswordForm.invalid || submissionInProgress ? 'bg-gray-400 cursor-not-allowed' : 'bg-primary-600 hover:bg-primary-700 dark:bg-primary-600 dark:hover:bg-primary-700' }}">
               {{ submissionInProgress ? 'changing Password...' : 'Password changed' }}
        </button>

      </form>
    </div>
  </div>
</section>
