<div class="max-w-md w-full space-y-8">
  <div class="text-center">

    <p class="mt-2 text-sm text-gray-500">Please sign in to your account</p>
  </div>


  <form class="mt-8 space-y-6" (ngSubmit)="login()">
    <!-- Email Input -->
    <div class="relative">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Login</label>
      <input [(ngModel)]="user.login" name="email" class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500"
        type="email" placeholder="Enter your login">
    </div>

    <!-- Password Input -->
    <div class="mt-8 content-center">
      <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Password</label>
      <input [(ngModel)]="user.password" name="password" class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
        type="password" placeholder="Enter your password">
    </div>

    <div class="flex items-center justify-between">


      <!-- Forgot Password Link -->
      <div class="text-sm">
        <a  routerLink="reset-password"
        routerLinkActive="text-indigo-400"
        [routerLinkActiveOptions]="{ exact: true }" class="text-indigo-400 hover:text-blue-500">Forgot your password?</a>
      </div>
    </div>
    <div>
      <button  [disabled]="user.login == '' || user.password == ''"
      type="submit" class="w-full flex justify-center bg-gradient-to-r
      {{ user.login == '' || user.password == '' ? 'bg-gray-400 cursor-not-allowed' : ' from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600' }}
       text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
        Sign in
      </button>
    </div>

  </form>
</div>
